* {
  box-sizing: border-box;
  font-family: "TikTok Sans", sans-serif;
}

body {
  margin: 3rem auto;
  max-width: 1000px;
  line-height: 1.5;
  font-size: 1rem;
  color: #444;
  padding: 0 1rem;
}

table {
  width: 100%;
}

table th,
table td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
}

table thead th {
  width: 20%;
  min-width: 150px;
}

table thead th:last-child {
  width: auto;
  min-width: 200px;
}

table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}
